body {
    font-family: "Lato", sans-serif;
    color: #747704;
    font-weight: 300;
	background-color: #c9c9c9;
}


/* Content */
#main-pic {
    position: relative;
}


#main-pic .img-header-overlay {
    position: absolute;
	top: 200px;
	left: 50px;
	color: #ccc;
}


.text-muted {
    color: #787777;
}


.title-super {
    font-size: 60px;
}


.title-super-2 {
    font-size: 200px;
	opacity: 0.3;
}


.text-thin {
    font-weight: 100;
}


.title-logo {
    margin-top: 20px;
}


.modal-pic {
    cursor: pointer;
}


.text-uppercase {
	margin-top: 10px;
}


/* Footer */
footer {
	height: 50px;
	margin-top: 5px;
	padding: 10px;
}


/* MEDIA QUERIES */ 

/*  smaller devices (small phones, 355px and up) */
@media (min-width: 355px) {
	.title-super {
		font-size: 30px;   
	}

	
	.text-right h4 {
		font-size: 16px;
	}
	
	
	.col-xs-6 h1 {
		margin-top: 0;
	}
	
	
	#main-pic .img-header-overlay {
		position: absolute;
		top: 40px;
		left: 25px;
	}
	
	
	.title-super-2 {
		font-size: 57px;
	}
}


/* Small devices (landscape phones, 544px and up) */
@media (min-width: 544px) {
	.title-super {
		font-size: 35px;   
	}
	
	
	#main-pic .img-header-overlay {
		position: absolute;
		top: 80px;
		left: 52px;
	}
	
	
	.title-super-2 {
		font-size: 77px;
	}
}


/* Medium devices (tablets, 748px and up) */
@media (min-width: 748px) {
	.title-super {
		font-size: 39px;   
	}
	
	
	.title-super-2 {
		font-size: 120px;
	}
	
	
	.modal-pic {
		max-width: 555px;
	}
	
	
	#main-pic .img-header-overlay {
		position: absolute;
		top: 102px;
		left: 50px;
	}
	
	
	article h3,
	article p {
		width: 550px;
	}
	
	
	footer {
		text-align: right;
		margin-right: 40px;
	}
}


/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	.title-super {
		font-size: 45px;   
	}
	

	.title-super-2 {
		font-size: 150px;
	
	}
	
	
	#main-pic .img-header-overlay {
		position: absolute;
		top: 170px;
		left: 80px;
	}
	
	
	h2 .text-muted {
		font-size: 2rem;
	}
	
	
	article .modal-pic {
		max-width: 310px; 
	}
	
	
	article h3,
	article p {
		width: 315px;
	}
	
	
}


/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	.title-super {
		font-size: 50px;   
	}
	
	#main-pic .img-header-overlay {
		position: absolute;
		top: 230px;
		left: 185px;
	}
	
	footer {
		text-align: justify;
	}
}